/* styles for the navigation module go in this file */

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header_logo {
  position: relative;
  width: 100%;
  max-width: 252px;

  &::after {
    content: "";
    display: block;
    padding-bottom: calc(83 / 252 * 100%);
  }
}

.links {
  display: flex;
  justify-content: space-between;
}
