/* styles for the navigation module go in this file */

.navigation {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navigation__container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: fixed;
  align-items: center;
  background-color: #fff;
  height: 103px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.5);
}

.header_logo {
  cursor: pointer;
  position: relative;
  max-width: 200px;
  width: 100%;
}

.link {
  cursor: pointer;
  opacity: 0.9;
  color: var(--black);
  display: inline-block;
  text-decoration: none;

  &:not(:last-child) {
    margin-right: 2rem;
  }
}
