
/* styles for the copy-grid module go in this file */

.copy-grid {
  background-color: var(--cum);
}

.module-name {
  text-align: center;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 70px;
}

.copy-grid-icon {
  position: relative;
  width: 60px;
}

.copy-grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.copy-grid-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (--xl-max) {
    max-width: 800px;
    margin: 0 auto;
  }
}

.content {
  flex-basis: calc(100% / 4 - 40px);
  background-color: var(--lavender);
  padding: 3rem;
  border-radius: 10px;

  @media (--xl-max) {
    flex-basis: calc(100% / 2 - 10px);
  }

  @media (--sm-max) {
    flex-basis: 100%;
  }

  &:not(:first-child) {
    @media (--sm-max) {
      margin-top: 20px;
    }
  }

  &:nth-child(n + 3) {
    @media (--xl-max) and (--sm) {
      margin-top: 20px;
    }
  }
}

.subheading {
  padding-bottom: 20px;
  text-align: center;
}

.blurb {
  text-align: center;
}
