/* button styles show here and should be based on a project styleguide */

.button {
  padding: 25px 60px;
  border-radius: 50px;
  background-color: #938fa6;
  color: #fff;
  border-style: none;
  text-decoration: none;
  display: flex;
  cursor: pointer;

  &:hover {
    color: #938fa6;
    background-color: #fff;
    border: solid 4px #938fa6;
  }
}
