/* button styles show here and should be based on a project styleguide */

.button {
  padding: 20px 30px;
  border-radius: 50px;
  background-color: var(--plum);
  color: var(--white);
  border-style: none;
  text-decoration: none;
  display: flex;
  cursor: pointer;
  border: solid 2px var(--plum);
  transition:
    color var(--transition-easing) var(--transition-timing),
    background-color var(--transition-easing) var(--transition-timing);

  &:hover {
    color: var(--plum);
    background-color: var(--white);
  }
}
