/* styles for the footer module go in this file */

.footer {
  padding: 10px 0;
  background-color: var(--lavender);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: center;
}

.footer__image {
  position: relative;
  width: 100%;
  max-height: 83px;
  min-width: 125px;
  max-width: 252px;

  &::after {
    content: "";
    display: block;
    padding-bottom: calc(83 / 252 * 100%);
  }
}

.contact-info {
  display: flex;
  flex-flow: row;
  gap: 20px;
  justify-content: space-between;
  align-items: left;
}
