/* styles for the footer-cta module go in this file */

.footer-cta {
  background-color: var(--cum);
  display: flex;
  align-items: center;
  flex-direction: column;
}

.footer-cta-name {
  text-align: center;
  padding-bottom: 31px;
}

.footer-button {
  text-align: center;
  margin: 0 auto;
}
