head, body, html {
  /* font-family: var(--work); */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

/* html font-size for rem */

html {
  font-size: 10px;
  margin-top: 0 !important;

  &.disable-scroll {
    overflow-y: hidden;
  }
}

body {
  font-size: 1.9rem; /* body font-size default is 19px */
}

#wpadminbar {
  display: none;
}

img {
  vertical-align: middle;
  border-style: none;
}

#page {
  overflow-x: hidden;
  min-height: 66.1vh;
  position: relative;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  display: block;
  margin: auto;
  width: 100%;
}

.account-container {
  display: flex;
  min-height: 66vh;
}

.account-wrapper {
  max-width: 975px;
  margin: 0 auto;
  padding: 17rem var(--container-padding) 0;
  width: 100%;

  @media (--lg-max) {
    padding-top: 5.6rem;
  }
}

.right-container {
  margin-left: auto;

  @media (min-width: 1200px) {
    margin-right: calc((100vw - var(--container-width)) / 2 + var(--container-padding));
  }
}

.left-container {
  margin-right: auto;

  @media (min-width: 1200px) {
    margin-left: calc((100vw - var(--container-width)) / 2 + var(--container-padding));
  }
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

p {
  margin: 0;
}

button,
.button,
input,
textarea,
select {
  &:focus {
    outline: 2px solid var(--baby-blue);
  }
}

ul, ol {
  margin: 0;
  padding-inline-start: 20px;
}

.button-reset {
  appearance: none;
  margin: 0;
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.section-padding {
  padding-top: 80px;
  padding-bottom: 80px;

  @media (--md-max) {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
