@import url("https://use.typekit.net/rbi7jwf.css");

h1,
h2,
h3,
p {
  margin: 0;
}

.h1,
.h2,
.h3,
.p,
.p1,
.p2,
.p3,
.input-error,
.input-label {
  font-family: var(--heading-font);
}

.h1 {
  font-size: 38px;
  margin-bottom: 0.25em;
  line-height: normal;
  font-weight: var(--bold);

  @media (--md-max) {
    font-size: 24px;
  }
}

.h2 {
  font-size: 34px;
  line-height: normal;
  font-weight: var(--regular);

  @media (--md-max) {
    font-size: 20px;
    line-height: normal;
  }
}

.h3 {
  font-size: 26px;
  line-height: normal;
  font-weight: var(--medium);

  @media (--md-max) {
    font-size: 18px;
    line-height: normal;
  }
}

.p {
  font-size: 19px;
  margin-top: 0.15em;
  margin-bottom: 0.35em;

  @media (--md-max) {
    font-size: 14px;
  }
}

.p1 {
  font-size: 19px;
  font-weight: var(--medium);

  @media (--md-max) {
    font-size: 14px;
  }
}

.p2 {
  font-size: 16px;

  @media (--md-max) {
    font-size: 13px;
  }
}

.p3 {
  font-size: 13px;

  @media (--md-max) {
    font-size: 10px;
  }
}

.input-error {
  font-size: 10px;
  color: var(--red);
}

.input-label {
  font-size: 14px;
  font-style: italic;
}
