:root {
  /* Color Palette */
  --white: #fff;
  --black: #000;
  --cum: #f2f1e9;
  --cum-2: #afaeae;
  --lavender: #eae9f2;
  --plum: #938fa6;
  --white-opaque: rgba(241, 238, 240, 0.75);
  --red: #f00;

  /* Typography */
  --heading-font: "Rubik", sans-serif;
  --body-font: "Rubik", sans-serif;

  /* Font Weight */
  --light: 300;
  --regular: 400;
  --medium: 500;
  --semi-bold: 600;
  --bold: 700;
  --extra-bold: 800;

  /* Spacing */
  --container-width: 1328px;
  --container-padding: 25px;

  /* Navigation */
  --nav-height: 103px;

  /* Transitions */
  --transition-timing: 0.25s;
  --transition-timing-slow: 1.2s;
  --transition-easing: cubic-bezier(0.06, 0.305, 0, 1);
  --transition-easing-2: cubic-bezier(0.61, 0.265, 0.01, 0.965);
}
