/* styles for the image-copy module go in this file */

/* image copy sections */

.image-copy__project_icon {
  position: relative;
  width: 100%;
  max-width: 101px;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;

  &::after {
    content: "";
    display: block;
    padding-bottom: calc(86 / 101 * 100%);
  }
}

.image-copy__prepare_icon {
  position: relative;
  width: 100%;
  max-width: 86px;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;

  &::after {
    content: "";
    display: block;
    padding-bottom: calc(81 / 86 * 100%);
  }
}

.image-copy__call_center_icon {
  position: relative;
  width: 100%;
  max-width: 83px;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;
  background-color: --cum;

  &::after {
    content: "";
    display: block;
    padding-bottom: calc(81 / 83 * 100%);
  }
}

.image-copy__project {
  position: relative;
  width: 100%;
  max-width: 591px;
  grid-row-start: 3;
  grid-column-start: 2;
  justify-self: center;

  &::after {
    content: "";
    display: block;
    padding-bottom: calc(384 / 591 * 100%);
  }
}

.image-copy__prepare {
  position: relative;
  width: 100%;
  max-width: 570px;
  grid-row-start: 3;
  grid-column-start: 2;
  justify-self: center;

  &::after {
    content: "";
    display: block;
    padding-bottom: calc(332 / 570 * 100%);
  }
}

.image-copy__call_center {
  position: relative;
  width: 100%;
  max-width: 618px;
  grid-row-start: 3;
  grid-column-start: 3;
  justify-self: center;

  &::after {
    content: "";
    display: block;
    padding-bottom: calc(373 / 618 * 100%);
  }
}

/* grid */

.image-copy-container {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-rows: auto auto auto;
  column-gap: 25px;
  padding-top: 25px;
  padding-bottom: 100px;
}

h2 {
  position: relative;
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 5;
  justify-self: center;

  &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 1px;
    width: 180px;
    left: calc(50% - 90px);
    border-bottom: gray solid 5px;
  }
}

.project-text {
  grid-row-start: 3;
  grid-column-start: 3;
}

.prepare-text {
  grid-row-start: 3;
  grid-column-start: 3;
  justify-self: center;
}

.call-center-text {
  grid-row-start: 3;
  grid-column-start: 2;
  justify-self: center;
}

.call-center {
  background-color: var(--cum);
}

/* image-copy project containers */

/* .project-container {
  display: grid;
} */

/* .project-container-content {
}

.project-container-content-text {
} */

/*
.example-image-class{
type in 'pr' and hit enter -> position: relative;
add these lines:   width: 100%;
                   max-width: 591px; == width of the image
type in 'ar' ->   &::after {
                    content: "";
                    display: block;
                    padding-bottom: calc(384 / 591 * 100%);  == update with dimensions of image
                  }
}
*/
