/* styles for the image-copy module go in this file */

/* image copy sections */

.image-copy__icon {
  position: relative;
  width: 100%;
  max-width: 100px;
  justify-self: center;

  &::after {
    content: "";
    display: block;
    padding-bottom: calc(100 / 100 * 100%);
  }
}

.image-copy__image {
  position: relative;
  width: 100%;
  max-width: 590px;
  justify-self: center;

  &::after {
    content: "";
    display: block;
    padding-bottom: calc(363 / 590 * 100%);
  }
}

.image-copy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 50px 100px 50px;
}

.image-copy-sub-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 25px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    bottom: -10px;
    height: 1px;
    width: 180px;
    left: calc(50% - 90px);
    border-bottom: gray solid 5px;
  }
}

/*
.example-image-class{
type in 'pr' and hit enter -> position: relative;
add these lines:   width: 100%;
                   max-width: 591px; == width of the image
type in 'ar' ->   &::after {
                    content: "";
                    display: block;
                    padding-bottom: calc(384 / 591 * 100%);  == update with dimensions of image
                  }
}
*/
